* {box-sizing:border-box; padding: 0; margin: 0;}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    div.h2 {
        font-size: 30px;
    }
}
    
html {
  height: 100%;
  width: 100%;
}

div .container {
  width: 100%; height: 100%;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: #404448;
    margin: 0px;
    height: 100%;
    width: 100%;
}

h2 {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

/* .map {
    float:right;
    width:75%;
    height: 1000px;
} */

.map {
    float:right;
    height: 1000px;
    width:75%;
    min-height: 500px;
}

.options-box {
    float:left;
    width:25%;
    height: 100%;
    padding: 10px 10px 30px 10px;
    background: #fff;
    border: 1px solid #999;
    line-height: 35px;  
    list-style-type: none;
}

.text {
    font-size: 12px;
}

.title-text {
    font-size: 22px;
}

.item {
    cursor: pointer;
    padding-left: 5px;
    border: 1px solid #999;
    font-size: 12px;
}